<ion-header>
  <ion-toolbar>
    <ion-title text-align="center">
      Weather
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="searchCity($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <span class="city">{{city}}</span>
    <span class="date">{{date | dateFormatting}}</span> 
    <span class="temperature">{{temperature}}°</span>
    <span class="description">{{description}}</span>
  </div>
    <ion-grid>
      <ion-row>
        <ion-col class="max-temp">H:{{max}}°</ion-col>
        <ion-col class="min-temp">L:{{min}}°</ion-col>
      </ion-row>
      <div id="weather">
        <ion-row>
          <span class="icon"><img src="https://openweathermap.org/img/wn/{{iconCode}}@2x.png"></span>
        </ion-row>
      </div>
    </ion-grid>
</ion-content>