ion-content{
  --ion-font-family: 'Roberto', sans-serif;
  --ion-background-color: #31ABA9;
  --ion-text-color: #fff;
}

ion-header{
  --ion-text-color: #fff;
}

.main{
  display: block;
  text-align: center;
}

.city{
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding-top: 20%;
}

.date{
  display: block;
  font-size: 0.8em;
  text-align: center;
}

.description{
  display: block;
  font-size: 1.7em; 
  text-align: center;
  font-weight: bold; 
}

.temperature{
  display: block;
  font-size: 6em;
  padding-left: 10%;
}

ion-grid{
  text-align: center;
}

.icon{
  display: block;
}

#weather{
  display: flex;
  justify-content: center;
}

.max-temp{
  display: block;
  font-size: 0.8em;
  padding-left: 35%;
  font-weight: bold;
}

.min-temp{
  display: block;
  font-size: 0.8em;
  padding-right: 35%;
  font-weight: bold;
}

